*{
  background-color: #A9DADB;
}


h1 {
  font-size: 2rem;
  color: #8F7666;
  font-weight: 600;
  text-align: center;
}

h2  {
  font-size: 1.5rem;
  color: #8F7666;
}

h3 {
  font-size: 1.3rem;
  color: #8F7666;
}

a {
  background-color: #F5DECB;
  color: #594D45;
  text-decoration: none;
  padding: 20px;
}

h4 {
  font-size: 1.5rem;
  color: #8F7666;
}

p {
  background-color: #DEFEFF;
  font-size: 1.08rem;
  color: #594D45
}
